{% extends "layout.html" %}

{% block title %}
    Create Event
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="bg-light d-flex align-items-center min-vh-100">
        <div class="container d-flex justify-content-center">
            <div class="caard shadow-lg" style="max-width: 600pc; width: 100%; position: relative;">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Create Event</h2>
                    <button type="button" class="btn-close" aria-label="Close" 
                            style="position: absolute; top: 20px; right: 20px;" onclick="window.history.back();"></button>


                    <!-- Create event form (Flaskform) -->
                     <form action="{{ url_for('events.create_event') }}" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                {{ form.title.label(class="form-label") }}
                                {{ form.title(class="form-control") }}
                            </div>

                            <div class="mb-3">
                                {{ form.date.label(class="form-label") }}
                                {{ form.date(class="form-control") }}
                            </div>

                            <div class="mb-3">
                                {{ form.location.label(class="form-label") }}
                                {{ form.location(class="form-control") }}
                            </div>

                            <div class="mb-3">
                                {{ form.image.label(class="form-label") }}
                                {{ form.image(class="form-control") }}
                            </div>

                            <div class="mb-3">
                                {{ form.description.label(class="form-label") }}
                                {{ form.description(class="form-control") }}
                            </div>

                            <div class="mb-3">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>

                        </div>
                     </form>

                </div>
            </div>
        </div>
    </div>
        
{% endblock %}