{% extends "layout.html" %}


{% block content %}
    <div class="container" style="padding-top: 100px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header text-center bg-primary text-white">
                        <h1 class="h4">{{ event.title }}</h1>
                        <h2 class="h2">{{ event.event_type }}</h2>
                    </div>
                    <div class="card-body p-4">
                        {% if event.image_path %}
                            <img src="{{ url_for('static', filename=event.image_path.split('static/')[1]) }}" 
                                 alt="{{ event.title }}" 
                                 class="img-fluid mb-4" 
                                 style="max-height: 400px; object-fit: cover; width: 100%;">
                        {% endif %}
                        <p class="lead">{{ event.description }}</p>
                        <hr>
                        <p><strong>Date:</strong> {{ event.date.strftime('%d %B %Y') }}</p>
                        <p><strong>Location:</strong> {{ event.location }}</p>
                    </div>

                    
                    <div class="card-footer text-center">
                        <!-- Optional buttons or links could go here -->
                        <!-- Edit Button to Trigger Modal -->
                        {% if event in current_user.events_owned %}

                            <a href="{{ url_for('events.edit_event', event_id=event.id, edit='true') }}" class="btn btn-warning">
                                Edit Event
                            </a>
                        {% endif %}
                        <a href="{{ url_for('events.home') }}" class="btn btn-secondary">Back to Events</a>
                        <a href="{{ url_for('events.register_for_event', event_id=event.id) }}" class="btn btn-secondary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}