{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    <div class="row" style="max-width: 1000px; padding-top: 60px; padding-left: 20px;">  
        {{ error }}
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" style="max-width: 1000px; padding-top: 80px;">            
            
            <!-- First Form (Flaskform)-->            
            <div class="col-md-6" style="border-radius: 10px;">
                <form class="p-3 border rounded-3 shadow" action="{{ url_for('auth.login') }}" method="POST">
                    <h3>Login</h3>
                    <div class="mb-3">
                        {{ login_form.hidden_tag() }}

                        <div class="mb-3">
                            {{ login_form.username.label(class="form-label") }}
                            {{ login_form.username(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            {{ login_form.password.label(class="form-label") }}
                            {{ login_form.password(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            {{ login_form.submit(class="btn btn-primary mb-3") }}
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <a href="{{ url_for('auth.reset_request') }}">Forgot password? Reset Here</a>
                    </div>

                    <div class="mb-3">
                        <a href="{{ url_for('auth.google_login') }}">Login with Google</a>
                    </div>

                </form>

            </div>

    
            <!-- Second Form (FlaskForm)-->
            <div class="col-md-6">
                <form class="p-3 border rounded-3 shadow" action="{{ url_for('auth.register') }}" method="POST">
                    <h3>Sign Up</h3>

                    <div class="mb-3">
                        {{ register_form.hidden_tag() }}

                        <div class="mb-3">
                            {{ register_form.username.label(class="form-label")}}
                            {{ register_form.username(class="form-control", id="new-username", onkeyup="checkUsername()") }}
                            <div id="username-feedback"></div>
                        </div>

                        <div class="mb-3">
                            {{ register_form.email.label(class="form-label") }}
                            {{ register_form.email(class="form-control", id="new-email", onblur="checkEmail()") }}
                            <div id="email-feedback"></div>
                        </div>

                        <div class="mb-3">
                            {{ register_form.password.label(class="form-label") }}
                            {{ register_form.password(class="form-control", id="new-password") }}
                        </div>

                        <div class="mb-3">
                            {{ register_form.confirm_password.label(class="form-label") }}
                            {{ register_form.confirm_password(class="form-control", id="confirm-password", oninput="checkPassword()") }}
                            <div id="password-feedback"></div>
                        </div>

                        <div class="mb-3">
                            {{ register_form.submit(class="btn btn-primary mb-3") }}
                        </div>
                    </div>


                </form>
            </div>
    
        </div>
    </div>

    <script>
        function checkUsername() {
            const newUsername = document.getElementById("new-username").value;
            const usernameFeedback = document.getElementById("username-feedback");

            console.log("Checking username: ", newUsername);
            if (newUsername.length < 3) {
                usernameFeedback.textContent = "Username too short";
                usernameFeedback.style.fontFamily = "Calibri";
                usernameFeedback.style.color = "red";
                return
            }

            fetch(`/auth/check_username?username=${encodeURIComponent(newUsername)}`)
            .then(response => response.json())
            .then(data => {
                if (data.available) {
                    usernameFeedback.textContent = "Username available!";
                    usernameFeedback.style.fontFamily = "Calibri";
                    usernameFeedback.style.color = "green"
                } else {
                    usernameFeedback.textContent = "Username not available";
                    usernameFeedback.style.fontFamily = "Calibri";
                    usernameFeedback.style.color = "red"
                }
            })
            .catch(error => console.error("Error:", error))
        }
    </script>

    <script>
        function checkEmail() {
            const newEmail = document.getElementById("new-email").value;
            const emailFeedback = document.getElementById("email-feedback")

            fetch(`/auth/check_email?email=${encodeURIComponent(newEmail)}`)
                .then(response => response.json())
                .then(data => {
                    emailFeedback.textContent = data.message;
                    emailFeedback.style.color = (data.valid && data.available)? "green" : "red";
                })
                .catch(error => console.error("Error:", error))
        }
    </script>

    <script>
        function checkPassword() {
            const newPassword = document.getElementById("new-password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            const passwordFeedback = document.getElementById("password-feedback");

            if (confirmPassword.length == 0) {
                passwordFeedback.textContent = "";
            } else if (newPassword === confirmPassword) {
                passwordFeedback.textContent = "Passwords match";
                passwordFeedback.style.color = "green";
            } else {
                passwordFeedback.textContent = "Passwords don't match";
                passwordFeedback.style.color = "red";
            }
            
        }
    </script>


{% endblock %}