{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <!-- <div class="container my-4 pt-5" style="max-width: 500px; justify-self: left; margin-left: 50px;">
        <form class="container-form" action="{{ url_for ('login') }}" method="POST">
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" id="username" type="text" name="username" 
                        placeholder="Enter username" autocomplete="off" autofocus required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" id="password" type="password" 
                        name="user_password">
            </div>

            <div class="d-grid">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>

    </div> -->


    <div class="container">
        <div class="row" style="max-width: 1000px; padding-top: 80px;">
            <!-- First Form -->
            <div class="col-md-6" style="border-radius: 10px;">
                <form class="p-3 border rounded-3 shadow" action="{{ url_for('login') }}" method="POST">
                    <h3>Login</h3>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username:</label>
                        <input id="username" class="form-control" type="text"name="username" 
                                placeholder="Enter username"autocomplete="off" autofocus required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password:</label>
                        <input id="password" class="form-control" type="password" name="user_password" placeholder="Enter password" required>
                    </div>
                    <div class="d-grid">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                    <div class="mb-3">
                        <a href="{{ url_for('password_recovery') }}">Forgot password?</a>
                    </div>

                </form>

            </div>
    
            <!-- Second Form -->
            <div class="col-md-6">
                <form class="p-3 border rounded-3 shadow" action="{{ url_for('signup') }}" method="POST">
                    <h3>Sign Up</h3>
                    <div class="mb-3">
                        <label class="form-label" for="new_username">Username:</label>
                        <input id="new_username" class="form-control" type="text" name="new_username" 
                                placeholder="Enter username" required onkeyup="checkUsername()">
                        <div id="username-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="new_email" class="form-label">Email:</label>
                        <input id="new_email" class="form-control" type="email" name="new_email" 
                                placeholder="Enter email" required onblur="checkEmail()">
                        
                                <div id="email-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">Password:</label>
                        <input id="new_password" class="form-control" type="password" name="new_password" placeholder="Enter password" required>
                    </div>

                    <div class="mb-3">
                        <label for="re_enter_password" class="form-label">Re-enter Password:</label>
                        <input id="re_enter_password" class="form-control" type="password" name="re_enter_password" 
                                placeholder="Re-Enter password" required oninput="checkPassword()">
                        <div id="password-feedback"></div>
                    </div>

                    <div class="d-grid">
                        <input class="btn btn-secondary" type="submit" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function checkUsername() {
            const new_username = document.getElementById("new_username").value;
            const feedback = document.getElementById("username-feedback");

            if (new_username.length < 3) {
                feedback.textContent = "Username too short";
                feedback.style.fontFamily = "Calibri";
                feedback.style.color = "red";
                return
            }

            fetch(`/check_username?username=${new_username}`)
            .then(response => response.json())
            .then(data => {
                if (data.available) {
                    feedback.textContent = "Username available!";
                    feedback.style.fontFamily = "Calibri";
                    feedback.style.color = "green"
                } else {
                    feedback.textContent = "Username taken";
                    feedback.style.fontFamily = "Calibri";
                    feedback.style.color = "red"
                }
            })
            .catch(error => console.error("Error:", error))
        }
    </script>

    <script>
        function checkEmail() {
            const newEmail = document.getElementById("new_email").value;
            const emailFeedback = document.getElementById("email-feedback")

            fetch(`/check_email?email=${newEmail}`)
                .then(response => response.json())
                .then(data => {
                    emailFeedback.textContent = data.message;
                    emailFeedback.style.color = (data.valid && data.available)? "green" : "red";
                })
                .catch(error => console.error("Error:", error))
        }
    </script>

    <script>
        function checkPassword() {
            const newPassword = document.getElementById("new_password").value;
            const reEnterPassword = document.getElementById("re_enter_password").value;
            const passwordFeedback = document.getElementById("password-feedback");

            if (reEnterPassword.length == 0) {
                passwordFeedback.textContent = "";
            } else if (newPassword === reEnterPassword) {
                passwordFeedback.textContent = "Passwords match";
                passwordFeedback.style.color = "green";
            } else {
                passwordFeedback.textContent = "Passwords don't match";
                passwordFeedback.style.color = "red";
            }
            
        }
    </script>


{% endblock %}