{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-6" style="border-radius: 10px; padding-top: 60px; max-width: 400px;">
            <form class="p-3 border rounded-3 shadow" action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
                <h3>Reset Password</h3>

                <div class="mb-3">
                    {{ form.hidden_tag() }}
                </div>
                <div class="mb-3">
                    {{ form.new_password.label }}
                    {{ form.new_password() }}
                </div>

                <div class="mb-3">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password() }}
                </div>
                
                <div class="d-grid">
                    {{ form.submit() }}
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}